p.nomap {
	margin-top:40px;
}

img.cauldron {
	float:right;
	width:150px;
	max-width:25%;
	margin-left:25px;
	margin-top:-15px;
}

h1 {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	right:10px;
}

div.row div.well {
	background-size:cover;
	background-color:#606070;
	background-position:center;
	height:300px;
	position:relative;
}

div.row div.well h2 {
	font-size:40px;
	color:#f0f0f0;
	text-shadow:2px 2px 4px #000000;
}

div.row div.well span {
	color:#e0e0e0;
	text-shadow:1px 1px 2px #000000, -1px -1px 2px #000000, 0px 0px 5px #000000;
}

div.row div.well div.btn-group {
	position:absolute;
	bottom:15px;
	right:15px;
}

div.row div.well div.btn-group .btn {
	font-size:13px;
}

/* Running an adventure
 */
div.loading {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color:#ffffff;
	z-index:100000;
	text-align:center;
}

div.loading span {
	font-size:40px;
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	left:0;
	right:0;
}

/* Menu
*/
div.topbar {
	position:absolute;
	top:5px;
	right:15px;
	margin:0;
}

div.topbar span#infobar {
	margin-right:15px;
	display:inline-block;
	position:relative;
	top:4px;
	margin-top:-5px;
	width:150px;
	height:20px;
	text-align:right;
}

div.topbar div.btn-group {
	margin:0;
	display:inline-block;
}

div.topbar select.map-selector {
	display:block;
	width:100%;
}

table.table th:last-child {
	width:200px;
}

div.menu {
	display:none;
	top:25px;
	right:0;
	position:absolute;
	width:500px;
	border:1px solid #808080;
	background-color:#ffffff;
	border-radius:4px;
	box-shadow:10px 10px 10px;
	padding:10px 10px 5px 10px;
}

div.menu h2 {
	font-size:19px;
	color:#5385c1;
	margin-bottom:5px;
	margin-top:10px;
	border-top:1px solid #f06000;
	padding-top:5px;
}

div.menu .btn {
	display:block;
	width:100%;
	margin-bottom:5px;
}

div.menu div.draw-explain {
	float:right;
	font-size:10px;
	margin-top:-20px;
}

div.menu div.draw-colors {
	margin-bottom:5px;
}
div.menu div.draw-colors span {
	display:inline-block;
	width:25px;
	height:25px;
	border:1px solid #404040;
	margin:7px 7px 0 0;
	cursor:pointer;
}
div.menu div.draw-colors span:last-child {
	margin-right:0;
}
div.menu div.draw-colors span:before {
	font-size:20px;
	position:absolute;
}

ul.map_image {
	padding-left:15px;
}

ul.map_image li:hover {
	cursor:pointer;
	background:#ffffa0;
}

ul.audio {
	padding-left:15px;
}

ul.audio li:hover {
	cursor:pointer;
	background:#ffffa0;
}

/* Drawing
 */
div.drawing {
	position:absolute;
	top:0;
	left:0;
}

div#draw_width {
	margin:10px;
}

div#draw_width div {
	width:20px;
	height:20px;
	text-align:center;
}

/* Doors
 */
div.door {
	position:absolute;
	background-color:#a06000;
	border:1px solid #402000;
}

/* Ruler
 */
div.ruler {
	position:absolute;
	background-color:#ffff00;
	border:1px solid #404040;
	transform-origin:0px 2px;
}

/* Walls
 */
div.wall {
	position:absolute;
	background-color:#ffa000;
	border:1px solid #ff0000;
}

div.window {
	position:absolute;
	background:#0080ff;
	border:1px solid #0000ff;
}

/* Fog of war
 */
canvas.fow {
	position:absolute;
	top:0;
	left:0;
	pointer-events:none;
}

div.fow_covered {
	pointer-events:none;
}

/* Lights
 */
div.light {
	position:absolute;
}

/* Blinders
 */
div.blinder {
	position:absolute;
	background-color:#e080e0;
	border:1px solid #e000e0;
	transform-origin:0px 2px;
}

/* Collectables
 */
div.image_overlay {
	display:none;
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:rgba(64, 64, 64, 0.7);
	z-index:20000;
}

/* Dice rolling
 */
div.diceroll div.dice {
	display:inline-block;
	margin-right:15px;
	margin-top:15px;
}

div.diceroll div.dice img {
	width:75px;
	display:block;
	margin-bottom:5px;
	cursor:pointer;
}

div.diceroll div.dice:last-child img {
	cursor:default;
}

div.diceroll div.dice select {
	width:75px;
	text-align:center;
}

div.diceroll div.dice input {
	width:75px;
	text-align:center;
}

div.dicerolls_defined input.remove {
	padding:6px 10px;
}

/* DM notes
 */
div.notes div.panel-body {
	white-space:pre-wrap;
	padding:0 15px;
}

/* Effects
 */
span.effect_size { 
	display:inline-block;
	padding:0 15px;
	width:50%;
}

span.effect_size:first-child {
	text-align:right;
}

span.effect_size input {
	border:none;
	width:40px;
}

div.effect_create img.effect {
	margin:15px;
	cursor:pointer;
}

/* Journal
 */
div.journal div.session {
	text-align:center;
	font-weight:bold;
	border-bottom:1px solid #0000c0;
	margin-bottom:10px;
}

div.journal textarea {
	max-width:630px;
	max-height:200px;
}

div.journal div.entry {
	margin-left:30px;
	margin-bottom:10px;
}

div.journal span.writer {
	font-weight:bold;
	margin-left:-30px;
}
div.journal span.writer:after {
	content:":";
	margin-right:5px;
}

/* Screen elements
 */
div.playarea {
	position:absolute;
	top:40px;
	right:215px;
	bottom:15px;
	left:15px;
	border:1px solid #000000;
	overflow:auto;
	z-index:1;
	transform-origin:top left;
	background-color:#ffffff;
}

div.playarea video {
	position:absolute;
	left:0;
	top:0;
}

/* Library
 */
div.filter {
    position:absolute;
    right:30px;
    top:40px;
    width:170px;
	height:45px;
}

div.library {
    position:absolute;
    right:0px;
    top:85px;
    width:200px;
	height:280px;
    overflow-y:scroll;
    padding-right:15px;
}

div.library img.icon {
    float:left;
    width:50px;
    height:50px;
    transform:rotate(180deg);
    cursor:grab;
}

div.library div.well div {
    margin-left:60px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

img.ui-draggable-dragging {
    transform:rotate(180deg);
}

/* Sidebar
 */
div.sidebar {
	font-size:13px;
	position:absolute;
	top:375px;
	right:0px;
	bottom:65px;
	width:200px;
	overflow-y:scroll;
	overflow-x:hidden;
}

div.sidebar img {
	max-width:100%;
}

div.sidebar b {
	color:#4040a0;
}

div.input {
	position:absolute;
	right:10px;
	bottom:5px;
	width:195px;
	height:45px;
}

div.sidebar span.history {
	cursor:pointer;
}
div.sidebar span.history:before {
	content:"-";
	margin:0 5px;
}

@media (max-width:991px) {
	div.playarea + div.sidebar {
		top:60px;
	}
}

@media (min-width:992px) {
	div.playarea + div.sidebar {
		top:40px;
	}
}

/* Conditions
 */
div.conditions {
	display:none;
}

/* Alternates
 */
div.alternates {
	display:none;
}

/* Shapes
 */
div.shape_change {
	display:none;
}

/* Items
 */
div.token,
div.character {
	position:absolute;
}

div.hitpoints {
	position:relative;
	top:-5px;
	margin-bottom:-4px;
	height:4px;
	border:1px solid #808080;
	background-color:#00ff00;
}

div.hitpoints div.damage {
	position:absolute;
	right:0;
	height:100%;
	background-color:#ff0000;
	float:right;
}

div.token span,
div.character span,
div.marker span {
	display:block;
	font-size:9px;
	text-align:center;
	color:#000000;
	background-color:#ffffff;
	border:1px solid #808080;
	padding:1px 3px;
}
div.mine span {
	border-color:#404040;
	background-color:#c0c0ff;
}

div.token span.conditions,
div.character span.conditions {
	background-color:#ffa0a0;
}

/* Night mode
 */
div.night {
	position:absolute;
	top:0;
	left:0;
}

/* Grid
 */
div.grid {
	position:absolute;
	top:0;
	left:0;
}

/* Zone
 */
div.zone {
	position:absolute;
}

div.zone div.script {
	display:none;
}

/* Mobile view
 */
@media (max-width:991px) {
	div.playarea {
		top:70px;
	}

	div.filter {
		top:70px;
	}

	div.library {
		top:115px;
	}

	div.sidebar {
		top:405px;
	}

	div.topbar {
		top:40px;
	}
}

@media (max-width:767px) {
	h1 {
		font-size:22px;
	}

	div.playarea {
		right:165px;
	}

	div.filter {
		width:120px;
	}

	div.library {
		width:150px;
		height:180px;
	}

	div.sidebar {
		top:305px;
		width:150px;
	}

	div.input {
		width:145px;
	}

	button.start_combat,
	button.play_audio {
		display:none;
	}
}

table.combat-tracker input {
	margin-bottom:0;
}

/* Dark mode
 */
div.dark {
	background-color:#202020;
	background-image:url(/images/layout/background-dark.png);
}

div.dark div.playarea {
	background-color:#101010;
}

div.dark div.sidebar p {
	color:#e0e0e0;
}

div.dark div.sidebar p b {
	color:#7070d0;
}

div.dark div.filter input,
div.dark div.input input {
	color:#e0e0e0;
	background-color:#404040;
}

div.dark div.library div.well {
	background-color:#c0c0c0;
	background-image:none;
}

div.dark div.menu {
	background-color:#d0d0d0;
}
