div.well {
	cursor:pointer;
	height:135px;
}

div.well img {
	max-width:100px;
	max-height:100px;
	margin-right:15px;
	float:left;
}

div.well div.name {
	font-weight:bold;
}

div.input-group {
	max-width:500px;
}

span.input-group-btn label {
	padding:6px 25px;
}

form img.portrait {
	display:block;
}

@media (min-width:767px ) {
	form img.portrait {
		float:right;
		max-width:200px;
	}
}
