p.nomap {
	margin-top:40px;
}

img.cauldron {
	float:right;
	width:150px;
	max-width:25%;
	margin-left:25px;
	margin-top:-15px;
}

h1 {
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	right:10px;
}

div.well {
	background-size:cover;
	background-color:#606070;
	background-position:center;
	height:300px;
	position:relative;
}

div.well h2 {
	font-size:40px;
	color:#f0f0f0;
	text-shadow:2px 2px 4px #000000;
}

div.well span {
	color:#e0e0e0;
	text-shadow:1px 1px 2px #000000, -1px -1px 2px #000000, 0px 0px 5px #000000;
}

div.well div.btn-group {
	position:absolute;
	bottom:15px;
	right:15px;
}

/* Run a game
 */
div.loading {
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	background-color:#ffffff;
	z-index:100000;
	text-align:center;
}

div.loading span {
	font-size:40px;
	position:absolute;
	top:50%;
	transform:translateY(-50%);
	left:0;
	right:0;
}

div.menu {
	position:absolute;
	top:5px;
	right:15px;
	margin:0;
}

div.menu span#infobar {
	margin-right:15px;
	display:inline-block;
	position:relative;
	top:4px;
	margin-top:-5px;
	width:150px;
	height:20px;
	text-align:right;
}

div.menu div.btn-group {
	margin:0;
	display:inline-block;
}

div.menu select.map-selector {
	margin-right:15px;
	display:inline-block;
	width:200px;
	height:20px;
	padding:0;
	position:relative;
	top:1px;
	font-size:12px;
}

div.menu div.zoom button {
	font-family:sans-serif;
	padding:0 10px;
}

table.table th:last-child {
	width:200px;
}

/* Doors
 */
div.door {
	position:absolute;
	background-color:#a06000;
	border:1px solid #402000;
}

/* Ruler
 */
div.ruler {
	position:absolute;
	background-color:#ffff00;
	border:1px solid #404040;
	transform-origin:0px 2px;
}

/* Walls
 */
div.wall {
	position:absolute;
	background-color:#ffa000;
	border:1px solid #ff0000;
}

div.window {
	position:absolute;
	background:#0080ff;
	border:1px solid #0000ff;
}

/* Fog of war
 */
canvas.fow {
	position:absolute;
	top:0;
	left:0;
	pointer-events:none;
}

div.fow_covered {
	pointer-events:none;
}

/* Lights
 */
div.light {
	position:absolute;
}

/* Blinders
 */
div.blinder {
	position:absolute;
	background-color:#e080e0;
	border:1px solid #e000e0;
	transform-origin:0px 2px;
}

/* Collectables
 */
div.image_overlay {
	display:none;
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	background:rgba(64, 64, 64, 0.7);
	z-index:20000;
}

/* DM notes
 */
div.notes div.panel-body {
	white-space:pre-wrap;
	padding:0 15px;
}

/* Effects
 */
span.effect_size { 
	display:inline-block;
	padding:0 15px;
	width:50%;
}

span.effect_size:first-child {
	text-align:right;
}

span.effect_size input {
	border:none;
	width:40px;
}

div.effect_create img.effect {
	margin:15px;
	cursor:pointer;
}

/* Journal
 */
div.journal div.session {
	text-align:center;
	font-weight:bold;
	border-bottom:1px solid #0000c0;
	margin-bottom:10px;
}

div.journal textarea {
	max-width:630px;
	max-height:200px;
}

div.journal div.entry {
	margin-left:30px;
	margin-bottom:10px;
}

div.journal span.writer {
	font-weight:bold;
	margin-left:-30px;
}
div.journal span.writer:after {
	content:":";
	margin-right:5px;
}

/* Screen elements
 */
div.playarea {
	position:absolute;
	top:40px;
	right:215px;
	bottom:15px;
	left:15px;
	border:1px solid #000000;
	overflow:auto;
	z-index:1;
	transform-origin:top left;
}

div.playarea video {
	position:absolute;
	left:0;
	top:0;
}

div.sidebar {
	font-size:12px;
	position:absolute;
	top:40px;
	right:0px;
	bottom:65px;
	width:200px;
	overflow-y:scroll;
	overflow-x:hidden;
}

div.sidebar img {
	max-width:100%;
}

div.sidebar b {
	color:#4040a0;
}

div.input {
	position:absolute;
	right:10px;
	bottom:5px;
	width:195px;
	height:45px;
}

/* Conditions
 */
div.conditions {
	display:none;
}

/* Alternates
 */
div.alternates {
	display:none;
}

/* Shapes
 */
div.shape_change {
	display:none;
}

/* Items
 */
div.token,
div.character {
	position:absolute;
}

div.hitpoints {
	position:relative;
	top:-5px;
	margin-bottom:-4px;
	height:4px;
	border:1px solid #808080;
	background-color:#ff0000;
}

div.hitpoints div.damage {
	position:absolute;
	right:0;
	height:100%;
	background-color:#000000;
	float:right;
}

div.token span,
div.character span,
div.marker span {
	display:block;
	font-size:9px;
	text-align:center;
	color:#000000;
	background-color:#ffffff;
	border:1px solid #808080;
	padding:1px 3px;
}
div.mine span {
	border-color:#404040;
	background-color:#c0c0ff;
}

div.token span.conditions,
div.character span.conditions {
	background-color:#ffa0a0;
}

/* Grid
 */
div.grid div.glass {
	position:absolute;
}

/* Zone
 */
div.zone {
	position:absolute;
}

div.zone div.script {
	display:none;
}

/* Mobile view
 */
@media (max-width:991px) {
	div.playarea,
	div.sidebar {
		top:70px;
	}

	div.menu {
		top:40px;
	}

	button#center_char {
		display:none;
	}
}

/* Mobile view
 */
@media (max-width:767px) {
	div.playarea {
		top:95px;
		right:165px;
	}

	div.menu {
		top:40px;
		right:0;
		left:0;
	}

	div.menu > span {
		position:absolute;
	}

	div.menu > span.menu-one {
		right:0;
	}

	div.menu > span.menu-two {
		right:15px;
		top:25px;
	}

	div.sidebar {
		top:95px;
		width:150px;
	}

	div.input {
		width:145px;
	}
}

table.combat-tracker input {
	margin-bottom:0;
}

/* Dark mode
 */
div.dark {
	background-color:#202020;
}

div.dark div.sidebar p {
	color:#e0e0e0;
}

div.dark div.sidebar p b {
	color:#7070d0;
}

div.dark div.input input {
	color:#e0e0e0;
	background-color:#404040;
}
