div.stories {
	display:none;
}

div.well {
	background-size:cover;
	background-color:#606070;
	background-position:center;
	height:300px;
	position:relative;
}

div.well h2 {
	font-size:40px;
	color:#f0f0f0;
	text-shadow:2px 2px 3px #404040;
}

div.well span {
	color:#c0c0c0;
	text-shadow:1px 1px 2px #000000;
}

div.well div.btn-group {
	position:absolute;
	bottom:15px;
	right:15px;
}

div.story {
	display:none;
}

/* Run a game
 */
div.menu {
	position:absolute;
	top:5px;
	right:15px;
	margin:0;
}

div.menu div.btn-group {
	margin:0;
	display:inline-block;
}

div.menu select.map-selector {
	margin-right:15px;
	display:inline-block;
	width:200px;
	height:20px;
	padding:0;
	position:relative;
	top:1px;
	font-family:sans-serif;
	font-size:12px;
}

table.table th:last-child {
	width:200px;
}

/* Faded overlay dialog
 */
div.overlay {
	position:fixed;
	top:0;
	bottom:0;
	left:0;
	right:0;
	z-index:2;
	background:rgba(64, 64, 64, 0.7);
}

div.overlay div.panel {
	width:100%;
	max-width:475px;
	margin:0 auto;
	margin-top:200px;
}

div.overlay div.panel-body {
	max-height:315px;
	overflow-y:auto;
}

/* Journal
 */
div.journal {
	display:none;
}

div.journal div.session {
	text-align:center;
	font-weight:bold;
	border-bottom:1px solid #0000c0;
	margin-bottom:10px;
}

div.journal textarea {
	max-width:630px;
	max-height:200px;
}

div.journal div.entry {
	margin-left:30px;
	margin-bottom:10px;
}

div.journal span.writer {
	font-weight:bold;
	margin-left:-30px;
}
div.journal span.writer:after {
	content:":";
	margin-right:5px;
}

/* DM notes
 */
div.notes {
	display:none;
}

/* Collectables
 */
div.collectables {
	display:none;
}

/* Effects
 */
div.effects {
	display:none;
}

div.effects div.panel-heading span.size {
	margin-left:70px;
}

div.effects div.panel-heading span.size input {
	border:none;
	width:40px;
}

div.effects div.panel-heading span.size input:first-child {
	margin-right:10px;
}

div.effects img.effect {
	margin:15px;
	cursor:pointer;
}

/* Screen elements
 */
div.playarea {
	position:absolute;
	top:40px;
	right:215px;
	bottom:0;
	left:15px;
	border:1px solid #000000;
	overflow:auto;
	z-index:1;
}

div.playarea video {
	position:absolute;
	left:0;
	top:0;
}

div.sidebar {
	font-size:12px;
	position:absolute;
	top:40px;
	right:0px;
	bottom:55px;
	width:200px;
	overflow-y:scroll;
	overflow-x:hidden;
}

div.input {
	position:absolute;
	right:10px;
	bottom:5px;
	width:195px;
	height:40px;
}

/* Items
 */
div.token,
div.character {
	position:absolute;
}

div.hitpoints {
	position:relative;
	top:-5px;
	margin-bottom:-4px;
	height:4px;
	border:1px solid #808080;
	background-color:#ff0000;
}

div.hitpoints div.damage {
	position:absolute;
	right:0;
	height:100%;
	background-color:#000000;
	float:right;
}

div.token span,
div.character span,
div.marker span {
	display:block;
	font-size:8px;
	text-align:center;
	color:#000000;
	background-color:#ffffff;
	border:1px solid #808080;
	padding:1px 3px;
}
