@media (min-width:768px) {
	img.manual {
		float:right;
		margin-left:15px;
	}
}

@media (max-width:767px) {
	img.manual {
 		display:block;
		width:100%;
	}
}

div.well li {
	color:#337ab7;
	cursor:pointer;
}
div.well li:hover {
	text-decoration:underline;
}

h2 {
	color: #5385c1;
	padding-bottom:3px;
	border-bottom:1px solid #ff7900;
}

h3 {
	color: #5385c1;
}

div.row h3 {
	color:#333333;
	margin-top:10px;
}

div.row div img {
	width:100%;
	margin:10px;
}

div.row div p {
	text-align:center;
	font-style:italic;
}

div.section {
	display:none;
}
