table.table th:nth-child(n+2) {
	width:90px;
}

input.form-control,
div.input-group {
	max-width:450px;
}

img.collectable {
	display:block;
	width:100%;
	max-width:450px;
}

@media (min-width:768px ) {
	img.collectable {
		float:right;
		max-width:200px;
	}
}
