table.table th:nth-child(n+3) {
	width:90px;
}

input.form-control,
div.input-group {
	max-width:450px;
}

img.collectable {
	display:block;
	width:100%;
	max-width:450px;
}

div.option {
	margin-top:10px;
}

div.option input {
	margin-right:5px;
}

textarea {
	resize:vertical;
}

@media (min-width:992px ) {
	img.collectable {
		float:right;
		max-width:300px;
	}
}

@media (max-width:767px ) {
	table.table th:nth-child(2),
	table.table td:nth-child(2) {
		display:none;
	}
}
