form.game-selector select {
	max-width:none;
}

@media (min-width:768px) {
	form.game-selector {
		width:250px;
		float:right;
		position:relative;
		margin-right:150px;
		top:-45px;
		margin-bottom:-40px;
	}
}

table.table th:nth-child(1),
table.table th:nth-child(2) {
	width:150px;
}

table.table td:last-child {
	max-width:0;
	white-space:nowrap;
    overflow:hidden;
	text-overflow:ellipsis;
}

textarea.form-control {
	max-width:100%;
	height:200px;
}
