@media (max-width:767px) {
	table.table thead th:nth-child(4),
	table.table thead td:nth-child(4) {
		display:none;
	}
	table.table tbody th:nth-child(4),
	table.table tbody td:nth-child(4) {
		display:none;
	}
	table.table tfoot td:nth-child(2) {
		display:none;
	}
}

table.table th:nth-child(2) {
	width:80px;
}

table.table th:nth-child(3) {
	width:80px;
}

table.table th:nth-child(4) {
	width:200px;
}

table.table tfoot td {
	background:url(/images/layout/background-bright.png);
}

table.table tfoot td:nth-child(3) {
	text-align:right;
	padding-right:15px;
}

div.empty_map {
	display:none;
	color:#ff0000;
	max-width:600px;
}

div.input-group {
	max-width:600px;
}

ul.browse-list {
	padding-left:15px;
}

ul.browse-list li:hover {
	cursor:pointer;
	background:#ffffa0;
}

div.method {
	margin-top:-3px;
	margin-bottom:5px;
}
div.method span:first-child {
	margin-right:30px;
}
div.method span input {
	margin-right:5px;
}

/* Grid
*/
label span {	
	font-weight:normal;
}

div.playarea {
	border:1px solid #000000;
	overflow:scroll;
	max-height:700px;
	margin-top:25px;
	position:relative;
}

div.map img.map,
div.map video.map {
	position:absolute;
	top:0;
	left:0;
}

div.grid canvas#grid {
	position:absolute;
	top:0;
	left:0;
}

div#slider1,
div#slider2,
div#slider3,
div#slider4 {
	margin-bottom:15px;
}

#grid-handle-value,
#grid-handle-fraction,
#map-x-offset,
#map-y-offset {
	width: 3em;
	height: 1.6em;
	top: 50%;
	margin-top: -.8em;
	text-align: center;
	line-height: 1.6em;
}

span.sizes {
	margin-left:5px;
}

/* Market
 */
div.panel div.panel-footer {
	height:41px;
}

div.panel div.panel-footer span:after {
	content:"|";
	margin:0 15px;
	color:#337ab7;
}

div.panel div.panel-footer span:last-of-type:after {
	content:none;
	margin:0;
}

div.panel div.panel-footer form {
	display:inline-block;
	float:right;
}

div.market div.map div.panel-body {
	height:286px;
	overflow:auto;
}

div.market div.map div.panel-body img {
	display:block;
	margin:0 auto;
	cursor:pointer;
}

div.filter {
	text-align:right;
}

div.filter select {
	display:inline-block;
	width:200px;
	margin-left:5px;
}

div.preview {
	max-height:750px;
	overflow-y:auto;
}

div.preview img {
	max-width:100%;
	max-height:100%;
}
