h1.print {
	display:none;
}

h2 {
	margin-top:15px;
	border-bottom:2px solid #ff7900;
}

div.global {
	background-color:#ffffff;
	padding:10px 15px;
	border-radius:3px;
}

div.collapsed div.body {
	display:none;
}

div.row div.link a {
	margin-top:15px;
	margin-bottom:10px;
	float:right;
}

div.encounters div.link a {
	margin-top:0;
}

div.story div.row {
	margin-bottom:10px;
}

div.story span.section {
	color:#ffa020;
}
div.story span.section:before {
	content:"[";
	margin-right:2px;
}
div.story span.section:after {
	content:"]";
	margin-left:2px;
}

div.story div.item {
	padding:0 15px;
}

div.story div.item > div {
	background-color:#ffffff;
	padding:5px 15px;
	overflow:auto;
}

div.story div.row div.header {
	color:#333333;
	cursor:pointer;
}

div.story div.row div {
	min-height:30px;
}

div.story div.row a:hover {
	color:#337ab7;
}

div.story div.row div.header {
	background-color:#e0e8f0;
}

div.story div.row a:hover div.header {
	background-color:#c0d4f4;
}

div.story div.row div.title {
	font-weight:bold;
}

div.add div {
	text-align:right;
}

div.story div.name,
div.story div.title,
div.story div.located {
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

div.story div.xp {
	text-align:right;
	white-space:nowrap;
}

div.story div.handle {
	text-align:right;
}

textarea.form-control {
	max-width:none;
	height:250px;
}

div.filter {
	max-width:100%;
	margin:0 0 15px auto;
}

div.filter input {
	max-width:none;
}

div.history {
	max-height:150px;
	overflow:auto;
}

@media (min-width:768px) {
	div.filter {
		width:400px;
	}

	div.buttons {
		margin-top:0;
	}
}

mark {
	background-color:#ffff00;
}

h2 button.fa {
	font-size:16px;
}

div.custom-dice {
	display:none;
}

@media print {
	div.wrapper > div.header,
	nav.navbar,
	img.title_icon,
	form.adventures_pulldown,
	div.tools,
	button.help,
	button.fa,
	div.handle,
	div.link,
	div.add,
	div.btn-group,
	div.footer,
	div.alert,
	div.nr,
	.players {
		display:none;
	}

	div.body {
		display:block;
	}

	div.global {
		padding:0;
	}

	h1 {
		display:none;
	}

	h1.print {
		display:block;
		margin-bottom:15px;
	}

	h2 {
		border-bottom:1px solid #808080;
	}

	div.story div.body {
		margin-top:-5px;
		margin-left:20px;
	}

	div.collapsed div.body {
		display:block;
	}

	div.story {
		break-inside:avoid-page;
	}

	div.story div.row {
		break-inside:avoid;
		margin-bottom:5px;
	}

	div.story div.item {
		padding:0;
	}

	a[href]:after {
		content:none !important;
	}

	div.npc_name {
		width:45%;
	}

	div.type {
		text-align:right;
		margin-top:-30px;
	}

	div.located {
		text-align:right;
	}

	div.count,
	div.source,
	div.cr {
		position:relative;
		left:20px;
	}

	div.source {
	}

	div.count,
	div.monster {
		padding-bottom:-10px;
		margin-bottom:-10px;
		overflow:hidden;
	    text-overflow:ellipsis;
	    white-space:nowrap;
	}
}
