@font-face {
	font-family:Raleway;
	src:url(/fonts/Raleway-200.woff);
	font-weight:200;
}

@font-face {
	font-family:Raleway;
	src:url(/fonts/Raleway-400.woff);
	font-weight:400;
}

* {
	margin:0;
	padding:0;
}

html, body {
	height:100%;
	font-family:Raleway;
	font-weight:400;
}

div.wrapper {
	min-height:100%;
	position:relative;
}

h1 {
	font-size:32px;
	margin-top:0;
	color:#5385c1;
	position:absolute;
	left:15px;
}

h2 {
	font-size:22px;
	margin-top:5px;
	margin-bottom:5px;
}

h3 {
	font-size:18px;
}

a {
	color:#30a0e0;
}

/* Content
 */
.container {
	max-width:none;
}

@media (min-width:1200px) {
	.container {
		width:100%;
	}
}

/* Script
 */
div.script_editor textarea {
	height:200px;
	resize:none;
	max-width:none;
}

div.script_editor span.zone_group {
	margin-left:50px;
}

div.script_editor input#zone_group {
	width:125px;
	border:1px solid #cccccc;
	border-radius:4px;
	padding:0 3px;
}

div.script_editor div.row div.col-xs-6:last-child {
	text-align:right;
}

div.script_manual {
	font-family:sans-serif;
}

div.script_manual ul {
	margin-left:15px;
}
